{% extends "base.njk" %}
    {% block darkclip %}
        <div class="clip">
            <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_4.jpg)">
            </div>
            <div class="layer-dark"></div>
        </div>
    {% endblock darkclip %}
{{ content | safe }}