{% extends "base.njk" %}

    {% block bigclip %}
           <div class="bg-wrapp">
                <div class="clip active">
                    <div class="video-wrapper">
                        <video loop poster="/assets/img/poster.png" class="bgvid" id="bgvid">
                            <source type="video/mp4" src="/assets/video/video.webm">
                            <source type="video/mp4" src="/assets/video/video.ogv">
                            <source type="video/webm" src="/assets/video/video.mp4">
                        </video>
                    </div>
                    <div class="close-full-video">
                        <span class="fa fa-times"></span>
                    </div>
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_3.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_2.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_3.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_1.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_2.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_3.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_1.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_2.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_1.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
                <div class="clip">
                    <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_3.jpg)">
                    </div>
                    <div class="layer-dark"></div>
                </div>
            </div>
            <div class="hide-content">
        {% endblock bigclip %}

        {% block background %}
            <div class="header-folow style-2 folow-right">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-pinterest-p"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-vimeo"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-tumblr"></a>
                </div>
                <div class="logo logo-top">
                    <a href="/index/"><img src="/assets/img/logo.png" alt="NRG Video Producer"></a>
                </div>
                <div class="block">
                    <div class="arrows arrows-left">
                        <div class="home-slider">
                            <div class="swiper-container swiper-6 swiper-two-bg" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                        <div class="video-pause vertical-align play-icon style-2">
                                            <span class="fa fa-play"></span>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="caption text-left">
                                            <div class="title">
                                                <div class="date">
                                                    <h4>from <span>02 september/2015</span></h4></div>
                                                <h3>your video trailer #1</h3>
                                                <p class="p-white">Ut eu nibh odio. Aenean aliquam imperdiet augue vel semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination hidden-pag"></div>
                                <div class="swiper-arrow-left arr-sw"><b></b><b></b><span class="fa fa-long-arrow-left"></span></div>
                                <div class="swiper-arrow-right arr-sw"><b></b><b></b><span class="fa fa-long-arrow-right"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="testi-slider">
                        <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-block">
                                        <img src="/assets/img/quote.png" alt="" class="quote">
                                        <p class="p-white">Nulla volutpat consectetur tellus et gravida. Suspendisse ultrices erat at dolor lacinia sollicitudin. Curabitur varius pretium rhoncus. Vivamus at consectetur odio</p>
                                        <div class="testi-people">
                                            <img src="/assets/img/people.png" alt="">
                                            <h4>julia centon, <span>the movie magazine</span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-block">
                                        <img src="/assets/img/quote.png" alt="" class="quote">
                                        <p class="p-white">Nulla volutpat consectetur tellus et gravida. Suspendisse ultrices erat at dolor lacinia sollicitudin. Curabitur varius pretium rhoncus. Vivamus at consectetur odio</p>
                                        <div class="testi-people">
                                            <img src="/assets/img/people.png" alt="">
                                            <h4>julia centon, <span>the movie magazine</span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-block">
                                        <img src="/assets/img/quote.png" alt="" class="quote">
                                        <p class="p-white">Nulla volutpat consectetur tellus et gravida. Suspendisse ultrices erat at dolor lacinia sollicitudin. Curabitur varius pretium rhoncus. Vivamus at consectetur odio</p>
                                        <div class="testi-people">
                                            <img src="/assets/img/people.png" alt="">
                                            <h4>julia centon, <span>the movie magazine</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination vertical-pag vertical-align"></div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="bottom-item bottom-item-testi">
                        <div class="swiper-container swiper-prew" data-autoplay="5000" data-loop="0" data-speed="1000" data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-sm-slides="6" data-md-slides="8" data-lg-slides="9" data-add-slides="10">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="prev-item active">
                                        <img src="/assets/img/prew_img_1.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_2.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_3.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_4.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_5.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_6.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_7.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_8.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_9.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="prev-item">
                                        <img src="/assets/img/prew_img_1.jpg" alt="" class="resp-img">
                                        <div class="layer-dark"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination hidden-pag"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock background %}

{{ content | safe }}