{% extends "base.njk" %}

{% block darkclip2 %}
    <div class="clip">
        <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_6.jpg)">
        </div>
        <div class="layer-dark"></div>
    </div>
{% endblock darkclip2 %}

{% block newscontainer %}
        <div class="home-slider fullheight">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="arrows">
                            <div class="swiper-container news-slider" data-autoplay="0" data-loop="0" data-speed="1000" data-center="0" data-slides-per-view="3" data-direction="horizontal">
                                <div class="swiper-wrapper popup-gallery">
                                    {% set postslist = collections.posts %}
                                    {% for post in collections.posts %}
                                    <div class="swiper-slide">
                                        <div class="news-wrap">
                                            <div class="video-block">
                                                <a href="#{{ post.fileSlug }}" class="fancybox" rel="gallery">
                                                    <span class="clip">
                            							<span class="bg bg-bg-chrome act" style="background-image:url({{post.data.featuredImage | url }})">
                            							</span>
                                                    </span>
                                                </a>                                               
                                                <div class="popup-main" id="{{ post.fileSlug }}">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-2">
                                                                <div class="popup">
                                                                    <img src="{{ post.data.featuredImage | url }}" alt="{{ post.data.featuredImage }}" class="resp-img">
                                                                    <div class="team-desc">
                                                                        <div class="title">
                                                                            <h4>{{ post.data.date.toUTCString() }}</h4>
                                                                            <h2> {{ post.data.title }}</h2>
                                                                            <p>{{ post.data.body }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>                                       
                                            <div class="title">
                                                <div class="date"><h4>{{ post.data.date.toUTCString() }}</h4></div>
                                                <h3>{{ post.data.title }}</h3>
                                                <p class="p-white">{{ post.data.description}}</p>
                                            </div>                                             
                                        </div>
                                    </div>
                                    {% endfor %}
                                <div class="pagination hidden-pag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock newscontainer %}