
{% extends "base.njk" %}
{% block darkclip3 %}
    <div class="clip">
        <div class="bg bg-bg-chrome act" style="background-image:url(/assets/img/home_slide_6.jpg)">
        </div>
        <div class="layer-dark style-3"></div>
    </div>
{% endblock darkclip3 %}